:root{
    --dark-purp: #ce9a89;
    --light-purp: #EAC9C1;
    --lighter-purp:#EBD8D0;
    --light-white: #FFFBFF;
    --white: #FEFEFF;

    --small-font-size: 16px;
    --medium-font-size: 18px;
    --large-font-size: 20px;
    --larger-font-size: 25px;

    --h1-small: 40px;
    --h1-meduim: 50px;
    --h1-large: 60px;
    
    --icons-small-font-size: 20px;
    --icons-medium-font-size: 25px;
    --icons-lagre-font-size: 30px;
}


.btn2-header{
    transition: 0.9s;
    position: relative;
    margin-left: 20px;

    font-size: var(--medium-font-size);
    font-weight: 400;

    height: 60px;
    width: 170px;

    color:var(--dark-purp);
    border: 1px solid var(--dark-purp);
    
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    
}
.btn2-header:hover{
    -webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.btn-header{
    position: relative;
    transition: 0.9s;

    font-size: var(--medium-font-size);
    font-weight: 400;

    height: 60px;
    width: 170px;

    color:white;
    border-radius: 20px;
    border: 1px solid #FAFAFA;
    background-color: var(--dark-purp);
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}
.btn-header:hover{
    -webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.pos-icon-btn{
    margin-right: 10px;
}



/* responsive */
@media screen and (min-width: 978px) and (max-width:1760px){
    .btn2-header{
        color:var(--white);
        border: 1px solid var(--white);
    }
}
@media screen and (max-width: 768px){
    .btn-header{
        width: 100%;
    }
    .btn2-header{
        width: 100%;
    }
}
@media screen and (max-width: 900px){
    .btn2-header{
      margin-left: 0px;
      
    }
    .btn-header{
        margin-bottom: 10px;
    }
  }