:root{
    --dark-purp: #1414F0;
    --light-purp: #EAC9C1;
    --lighter-purp:#EBD8D0;
    --light-white: #FFFBFF;
    --white: #FEFEFF;

    --small-font-size: 16px;
    --medium-font-size: 18px;
    --large-font-size: 20px;
    --larger-font-size: 25px;

    --h1-small: 40px;
    --h1-meduim: 50px;
    --h1-large: 60px;
    
    --icons-small-font-size: 20px;
    --icons-medium-font-size: 25px;
    --icons-lagre-font-size: 30px;
}




/* 
    PX – a single pixel
    EM – relative unit based on the font-size of the element.
    REM – relative unit based on the font-size of the element.
    VH, VW – % of the viewport’s height or width.
    % – the percentage of the parent element.
*/

/* flexbox */
.flex-container{
  margin-top: 200px;
  z-index: 1;
  width: 100%;
}
.texts-flex{
  padding: 20px;
  flex: 1.2;
}
.imgs-flex{
  padding: 20px;
  flex: 1;
  z-index: -1;
}


.img-sun{
  height: auto;
  width: 700px;
  z-index: -1;
}

.img__background{
  z-index: 1;
  background-color: var(--white);
  border-radius: 5%;
  width: max-content;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.089), 0 15px 12px rgba(0, 0, 0, 0.089);
}
.img__back{
  z-index: -2;
  background-color: var(--white);
  border-radius: 5%;
  width: max-content;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.089), 0 15px 12px rgba(0, 0, 0, 0.089);
}


.text-pos{
  margin-top: 100px;
  margin-left: 150px;
  z-index: -1;
}
.text-pos h1{
  font-size: var(--h1-meduim);
}

.btn-flexbox{
  margin-top: 50px;
}
/* flexbox */



/* circle */
.circle2__header{
  position: absolute;
  top: 15%;
  left: -20%;
  z-index: -1;

  width: 700px;
  height: 700px;

  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.089), 0 15px 12px rgba(0, 0, 0, 0.089);
  background-color: var(--dark-purp);
}

.circle__header{
  position: absolute;
  top: -30%;
  left: 45%;

  z-index: -1;

  width: 700px;
  height: 700px;

  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.089), 0 15px 12px rgba(0, 0, 0, 0.089);
  background-color: var(--dark-purp);
}



.background__p{
  background-color: rgba(4, 255, 4, 0.205);

  padding: 7px;
  margin: 5px;

  border: 1px solid rgba(4, 255, 4, 0.205);
  border-radius: 50px;
  width: max-content;
}
.background_p{
  color: rgb(14, 192, 14);
}
.background_p::after{
  content: '';
  position: absolute;
  display: block;
  margin: auto;
  width: 10px;
  height: 10px;
  background-color: rgb(0, 255, 0);
  border-radius: 50%;
}



@media screen and (min-width: 900px){
  .flex-container{
    display: flex;
  }
  .btn-flexbox{
    display: flex;
  }
}
/* responsive shit */
@media screen and (max-width: 480px){
  .circle2__header{
    width: 250px;
    height: 350px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px){
  .circle2__header{
    width: 450px;
    height: 450px;
  }
}

/* useless */
@media screen and (max-width: 900px){
  .text-pos{
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
  }
}
@media screen and (max-width: 978px){
  .red{
    display: none;
  }
  .circle__header{
    display: none;
  }
  .circle2__header{
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
/* useless */

@media screen and (min-width: 769px) and (max-width: 1024px){
    
}
@media screen and (min-width: 1025px) and (max-width: 1200px){
    
}
@media screen and (min-width: 1201px) and (max-width: 50000px){
    
}
@media screen and (min-width: 978px) and  (max-width: 1300px){
  .circle__header{
    display: none;
  }
}


/* fixing img-shit */
@media screen and (max-width: 1400px){
  .img__background{
    width: auto;
  }
  .img__back{
    width: auto;
  }
}